Source: eos-kalite-systemd-helper
Section: desktop
Priority: optional
Maintainer: Niv Sardi <xaiki@endlessm.com>
Build-Depends: debhelper (>=9), dh-systemd (>= 1.5)
Standards-Version: 3.9.8
Homepage: https://endlessm.com
Vcs-Git: git://github.com/endlessm/eos-kalite-systemd-helper.git

Package: eos-kalite-systemd-helper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A simple helper to activate a flatpak packaged kalite
 Used internally at endless
