[Unit]
Description=KA Lite Server

[Service]
ExecStart=/usr/bin/flatpak run --no-desktop --env="LISTEN_PID=true" --command="kalite" org.learningequality.kalite start --foreground
User=kalite

PrivateTmp=yes
