[Unit]
Description=KA Lite Server
ConditionPathExists=/var/lib/flatpak/app/org.learningequality.kalite

[Service]
Type=simple
ExecStart=/usr/bin/flatpak run --no-desktop --command="kalite" org.learningequality.kalite start --foreground
User=kalite

PrivateTmp=yes
Restart=on-failure
